COMPOSE_PROJECT_NAME=marketplace-platform

ORACLE_USER=marketplace_app
ORACLE_PASSWORD=marketplace_app_password
ORACLE_DATABASE=FREEPDB1

LOCALSTACK_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

BACKEND_PORT=8080
FRONTEND_PORT=3000
