COMPOSE_PROJECT_NAME=marketplace-platform

ORACLE_PWD=ReplaceMeOracleAdmin123
ORACLE_PORT=1521
DATABASE_USERNAME=marketplace_app
DATABASE_PASSWORD=ReplaceMeMarketplace123

LOCALSTACK_REGION=us-east-1
LOCALSTACK_AUTH_TOKEN=
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

BACKEND_PORT=8080
FRONTEND_PORT=3000
NEXTAUTH_SECRET=replace-me-local-nextauth

RABBITMQ_DEFAULT_USER=marketplace
RABBITMQ_DEFAULT_PASS=ReplaceMeRabbitmq123
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
REDIS_PORT=6379
